* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font: 300 100%/1.4 $sans-serif;
	background: rgba($bkg, .875);
	border-top: .25rem solid $blue;
	color: $text;
}

p {
	max-width: 35rem;
	font-size: 1.125rem;
	margin: 1rem auto;
	padding: .5rem;
}
a {
	color: $blue;
	text-decoration: none;
	transition: all 375ms linear;
	&:hover {
		color: rgba($blue, .5);
	}
}
main {
	padding: .25rem
}
.hidden {
	display: none;
	width: 0;
	height: 0;
}
