.app--header {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	.logo {
		flex: 1 0 20rem;
		padding: 0 1rem;
		@include respond-to(handhelds) {
			padding: 0;
		}
	}
	.downloads {
		flex: 1 0 20rem;
		padding: 0 3rem;
		text-align: right;
		@include respond-to(handhelds) {
			flex: 1 0 100%;
			padding: 1rem 0;
			text-align: center;
		}
	}
}
