.app--btn {
  padding: .75rem 1rem;
  border: .1025rem solid;
  border-radius: .375rem;
  background: none;
  margin: 0 1rem 1rem 0;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  transition: all 500ms linear;
  &_lite {
    color: white;
    &:hover { color: gold; }
  }
  &_dark {
    color: darken($blue, 5%);
    &:hover { color: white; }
  }
  @include respond-to(handhelds) { width: 100%; }
  &:last-of-type { margin: 0 0 1rem 0; }
}
