.controller {
	margin: 2rem 0;
	text-align: center;
	input[type="radio"] { display:none; }
	input[type="radio"] + label {
		margin-right: 1rem;
		&:last-of-type { margin-right: 0; }
		@include respond-to(handhelds) { margin-right: 0; }
	}
	input[type="radio"] + label span {
		display:inline-block;
		padding: .5rem;
		margin: .25rem 0;
		color: $blue;
		border: 2px solid;
		font-weight: 400;
		font-size: 1.25rem;
		text-transform: uppercase;
		background-color:rgba($blue, .375);
		cursor:pointer;
		width: 100%;
		max-width: 9rem;
		text-align: center;
		border-radius: .375rem;
		@include respond-to(handhelds) { max-width: 100%; }
	}

	input[type="radio"]:checked + label span {
		color: white;
		background-color:rgba($blue, .875);
		border-color: $blue;
	}
}
