.flex {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  &--center {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.container {
  &--full { max-width: 75rem; width: 100%; }
  &--center { margin-left: auto; margin-right: auto; }
  &--pad { padding: 2rem .5rem; }
  &--offset {
    &_t { margin-top: 2rem; }
    &_b { margin-bottom: 2rem; }
  }
}

.m {
  &--offset {
    &_t { margin-top: .75rem; }
    &_b { margin-bottom: .75rem; }
  }
}
