.app--header {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	.logo {
		flex: 1;
		padding: 0 1rem;
		text-align: center;
	}

}
.downloads {
	padding: 0 3rem;
	text-align: center;
	@include respond-to(handhelds) { padding: 1rem 0; }
}
