.intro {
  background: rgba($blue, .625);
  padding: 2rem 1.5rem;
  a {
    color: $dblue;
    &:hover {
      color: $gold;
    }
  }
}

.sketch {
  padding: 2rem .5rem;
  background: rgba($blue, .375);
}
