.w-300 { font-weight: 300; }
.w-400 { font-weight: 400; }
.w-700 { font-weight: 700; }

.lt-1 { letter-spacing: 1px; }
.lt-2 { letter-spacing: 2px; }
.lt-3 { letter-spacing: 3px; }
.lt-4 { letter-spacing: 4px; }
.lt-5 { letter-spacing: 5px; }

.caps { text-transform: uppercase; }

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }


.c {
  &--red { color: $red; }
  &--gold { color: $gold; }
  &--blue { color: $blue; }
  &--white { color: white; }
  &--dblue { color: darken($blue, 5%); }
}


.hl {
  &--jumbo {
    font-size: 2.5rem;
    @include respond-to(handhelds) { font-size: 2.25rem; }
  }
  &--lg {
    font-size: 2rem;
    @include respond-to(handhelds) { font-size: 1.75rem; }
  }
  &--md {
    font-size: 1.5rem;
    @include respond-to(handhelds) { font-size: 1.25rem; }
  }
  &--sm {
    font-size: 1.25rem;
    @include respond-to(handhelds) { font-size: 1rem; }
  }
  &--b {
    font-size: 1rem;
    @include respond-to(handhelds) { font-size: .75rem; }
  }
  &--xs {
    font-size: .875rem;
    @include respond-to(handhelds) { font-size: .625rem; }
  }
  &--xxs {
    font-size: .625rem;
    @include respond-to(handhelds) { font-size: .375rem; }
  }
}
