@import 'variables';
@import 'base';
@import 'type';
@import 'svg-grid';
@import 'btns';
@import 'flexo';
@import 'intro';
@import 'header';
@import 'footer';

.new {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $yellow;
}
