* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font: 300 100%/1.6 var(--sans-serif);
  background: color(var(--bkg) a(87.5%));
  border-top: .25rem solid var(--dblue);
  color: var(--text);
}

p { font-size: 1rem; }

p:not(:last-of-type) { margin-bottom: 1rem; }

a {
  color: var(--blue);
  text-decoration: none;
  transition: all 375ms linear;
}

a:hover { color: color(var(--blue) a(50%)); }

.hide { display: none; }

pre {
  background: #C1D9EA;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #5886A7;
  overflow-x: none;
}

pre code { font-size: 1rem; }
@media (--handhelds) {
  pre code { font-size: .75rem; }
}
.entry {
  columns: 2 20rem;
  column-gap: 2rem;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}
