.app--header {
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #5886A7;
  color: white;
}

.logo {
  flex: 1 0 20rem;
  /* padding: 0 1rem; */
}

.downloads {
  /* padding: 0 3rem; */
}

@media (--handhelds) {
  .downloads { padding: 1rem 0; }
}
