.intro {
  background: color(var(--blue) a(62.5));
  background: #92AFC5;
  padding: 2rem 1.5rem;
}
.intro a { color: var(--dblue); }
.intro a:hover { color: var(--gold); }


.sketch {
  background: color(var(--blue) a(37.5%));
}
