.w-300 { font-weight: 300; }
.w-400 { font-weight: 400; }
.w-700 { font-weight: 700; }

.lt-1 { letter-spacing: 1px; }
.lt-2 { letter-spacing: 2px; }
.lt-3 { letter-spacing: 3px; }
.lt-4 { letter-spacing: 4px; }
.lt-5 { letter-spacing: 5px; }

.caps { text-transform: uppercase; }

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

.c--red { color: var(--red); }
.c--gold { color: var(--gold); }
.c--blue { color: var(--blue); }
.c--white { color: white; }
.c--dblue { color: var(--dblue); }

.hl--jumbo { font-size: 2.5rem; }
.hl--lg    { font-size: 2rem; }
.hl--md    { font-size: 1.5rem; }
.hl--sm    { font-size: 1.25rem; }
.hl--b     { font-size: 1rem; }
.hl--xs    { font-size: .875rem; }
.hl--xxs   { font-size: .625rem; }

@media (--handhelds) {
  .hl--jumbo { font-size: 2.25rem; }
  .hl--lg    { font-size: 1.75rem; }
  .hl--md    { font-size: 1.25rem; }
  .hl--sm    { font-size: 1rem; }
  .hl--b     { font-size: .75rem; }
  .hl--xs    { font-size: .625rem; }
  .hl--xxs   { font-size: .375rem; }
}
