:root {
  --sans-serif: 'Gotham SSm A', 'Gotham SSm B', Avenir, Avenir Next, Helvetica Neue, Helvetica, sans-serif;

  --bkg: #f3f3f3;
  --orange: #F8501C;
  --gold: #E5B50F;
  --blue: #5886A7;
  --text: #999999;
  --yellow: #ffba00;
  --red: #EB8A77;
  --gold: #E3BD6E;
  --dblue: color(var(--blue) blackness(5%));
  --dblue: #4D7897;
}

@custom-media --handhelds (width <= 31.25rem);
@custom-media --sm (width >= 31.25rem);
@custom-media --md (width >= 48rem);
@custom-media --lg (width >= 57.75rem);
