.c-footer__icon {
  fill: var(--blue);
  width: 1.275rem;
  height: 1.029375rem;
  display: inline-block;
  vertical-align: middle;
}

.c-footer__text {
  font-size: .75rem;
  display: inline-block;
  vertical-align: middle;
}

@media (--lg) {
  .c-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
