.c-header {
  background: linear-gradient(#4F779A, #5886A7);
  color: white;
}



.c-header__logo svg {
  fill: #92AFC5;
  max-width: 8rem;
  max-height: 100%;
  margin: 0;
}



@media (--lg) {
  .c-header__logo { margin-bottom: 1rem; }
  .c-header__logo svg {
    max-height: 5rem;
  }
}
