:root {
  --sans-serif: BlinkMacSystemFont, Avenir, Avenir Next, Helvetica Neue, Helvetica, '.SFNSText-Regular', 'SF UI Text', 'Segoe UI', 'Fira Sans','Roboto', 'Noto Sans', 'Droid Sans', 'Helvetica Neue', 'Lucida Grande', sans-serif;

  --bkg: #f3f3f3;
  --orange: #F8501C;
  --gold: #E5B50F;

  --text: #999999;
  --yellow: #ffba00;
  --red: #EB8A77;
  --gold: #E3BD6E;

  --blue: #5886A7;
  --blue-dark: #4D7897;
  --blue-lite: #92AFC5;
}
