.u-mxauto { margin-left: auto; margin-right: auto; }

.u-mt1 { margin-top: .75rem; }
.u-mt2 { margin-top: 2rem; }

.u-mb1 { margin-bottom: .75rem; }
.u-mb2 { margin-bottom: 1.5rem; }

.u-p1 { padding: 2rem 1.5rem; }
.u-p2 { padding: 1rem .75rem; }
.u-p3 { padding: .5rem; }
