* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font: 300 100%/1.4 'Gotham SSm A', 'Gotham SSm B', Avenir, Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  background: rgba(243, 243, 243, 0.875);
  border-top: 0.25rem solid #5886A7;
  color: #999; }

p {
  max-width: 35rem;
  font-size: 1.125rem;
  margin: 1rem auto;
  padding: 0.5rem; }

a {
  color: #5886A7;
  text-decoration: none;
  -webkit-transition: all 375ms linear;
          transition: all 375ms linear; }
  a:hover {
    color: rgba(88, 134, 167, 0.5); }

main {
  padding: 0.25rem; }

.hidden {
  display: none;
  width: 0;
  height: 0; }

.grid {
  width: 100%;
  max-width: 68rem;
  border: 1px solid #999;
  padding: 1rem 2rem;
  margin: 0 auto 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .grid--item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 7rem;
        -ms-flex: 0 1 7rem;
            flex: 0 1 7rem;
    height: auto;
    margin: 0 1rem 1rem;
    position: relative; }
    @media only screen and (max-width: 500px) {
      .grid--item {
        margin: 0.25rem; } }
    .grid--item svg {
      width: 80%;
      height: auto;
      max-height: 100%;
      margin: 0 auto;
      -webkit-transition: all 375ms ease;
              transition: all 375ms ease;
      fill: #5886A7; }
      .grid--item svg:hover, .grid--item svg:focus {
        width: 100%; }
    .grid--item_label {
      margin-top: 1rem;
      background: #5886A7;
      width: 100%;
      display: block;
      position: relative;
      color: white;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1;
      padding: 0.5rem 0.25rem;
      border-radius: 0.25rem; }
      .grid--item_label::before {
        content: "";
        width: 0;
        height: 0;
        margin: 0 auto;
        position: absolute;
        display: block;
        top: -0.73rem;
        left: 0;
        right: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid #5886A7; }
  .grid img {
    color: #F8501C;
    background: #F8501C;
    max-width: 10rem;
    border: 0;
    -webkit-transition: border 125ms ease;
            transition: border 125ms ease; }

.app--header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .app--header .logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20rem;
        -ms-flex: 1 0 20rem;
            flex: 1 0 20rem;
    padding: 0 1rem; }
    @media only screen and (max-width: 500px) {
      .app--header .logo {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        padding: 0; } }
  .app--header .downloads {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20rem;
        -ms-flex: 1 0 20rem;
            flex: 1 0 20rem;
    padding: 0 3rem;
    text-align: right; }
    @media only screen and (max-width: 500px) {
      .app--header .downloads {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        padding: 1rem 0;
        text-align: center; } }

.app--footer {
  padding: 1rem; }

.app--header {
  padding: 1.5rem 1rem; }
  .app--header h1 {
    font-weight: 300;
    color: #5886A7;
    margin: 0.25rem 0;
    font-size: 3rem; }
  .app--header h2 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.25rem 0; }
  @media only screen and (max-width: 500px) {
    .app--header h1 {
      font-size: 2rem; }
    .app--header h2 {
      font-size: 1.5rem; } }
.app--footer {
  background: rgba(88, 134, 167, 0.25); }
.app--btn {
  padding: 1rem;
  border: 2px solid #5886A7;
  border-radius: 0.375rem;
  background: none;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  color: #5886A7;
  text-decoration: none;
  -webkit-transition: all 500ms linear;
          transition: all 500ms linear; }
  .app--btn:hover {
    color: white;
    background: #5886A7; }

.section--headline {
  color: #5886A7;
  font-size: 1.75rem;
  margin: 0 0 0.625rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px; }
  .section--headline::after {
    content: "";
    display: block;
    height: 3px;
    width: 6rem;
    background: #42657d;
    margin: 1rem auto; }
.section--module {
  background: rgba(153, 153, 153, 0.0625);
  padding: 1rem; }

.new {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffba00; }
