// Fonts
$freightbig: 900 4rem/1 "freight-big-pro", Georgia, serif;
$freightsans: "freight-sans-pro", sans-serif;

// Colors
$bkg: #f3f3f3;
$orange: #F8501C;
$gold: #E5B50F;
$blue: #5886A7;
$text: #999;

// Media Queries
$break-small: 500px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font: 300 100%/1.4 $freightsans;
    background: rgba($bkg, .5);
    border-top: .25rem solid $orange;
    color: $text;
}

.container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 1rem;
    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

.app {
    &--header {
        padding: 2rem 0;
        @include respond-to(handhelds) {
            padding: 2rem 1rem;
        }
        h1 {
            font: $freightbig;
            color: $orange;
            margin: .25rem 0;
            text-transform: uppercase;
            font-size: 3rem;
        }
        h2 {
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $gold;
            margin: .25rem 0;
        }
        @include respond-to(handhelds) {
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }
    &--footer {
        background: rgba($blue, .25);

    }
    &--btn {
        padding: 1rem;
        border: 2px solid $blue;
        border-radius: .375rem;
        background: none;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        color: $blue;
        text-decoration: none;
        transition: all 500ms linear;
        &:hover {
            color: white;
            background: $blue;
        }
    }
}

.section {
    &--headline {
        color: $blue;
        font-size: 1.75rem;
        margin: 0 0 .625rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 10rem;
            background: $gold;
            margin: 0 auto .375rem;
        }
    }
    &--module {
        background: rgba($text, .0625);
        padding: 1rem;
    }
}

.grid {
    width: 100%;
    border: 1px solid $text;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    &--item {
        max-width: 7rem;
        height: auto;
        display: inline-block;
        vertical-align: top;
        margin: 1rem;
        svg {
            width: 80%;
            height: auto;
            max-height:100%;
            margin: 0 auto;
            transition: stroke-width 125ms ease;
        }
        span {
            margin-top: 1rem;
            background: $blue;
            width: 100%;
            display: block;
            position: relative;
            color: white;
            font-weight: 700;
            letter-spacing: 2px;
            padding: .375rem .25rem;
            text-transform: uppercase;
            border-radius: .25rem;
            &::before {
                content: "";
                width: 0;
                height: 0;
                margin: 0 auto;
                position: absolute;
                top: -0.74rem;
                left: 0;
                right: 0;
                border-left: .75rem solid transparent;
                border-right: .75rem solid transparent;
                border-bottom: .75rem solid $blue;
            }
        }
    }

    img {
        color: $orange;

        background: $orange;

        max-width: 10rem;
        border: 0;
        transition: border 125ms ease;
    }
}

p {
    max-width: 35rem;
    font-size: 1.25rem;
    margin: 0 auto;
}
.controller {
    margin: 2rem 0;
    text-align: center;
    input[type="radio"] {
        display:none;
    }
    input[type="radio"] + label {
        margin-right: 1rem;
        &:last-of-type {
            margin-right: 0;
        }
        @include respond-to(handhelds) {
            margin-right: 0;
        }
    }
    input[type="radio"] + label span {
        display:inline-block;
        padding: .5rem;
        margin: .25rem 0;
        color: $blue;
        border: 2px solid;
        font-weight: 400;
        font-size: 1.25rem;
        text-transform: uppercase;
        background-color:rgba($blue, .375);
        cursor:pointer;
        width: 100%;
        max-width: 9rem;
        text-align: center;
        border-radius: .375rem;
        @include respond-to(handhelds) {
            max-width: 100%;

        }
    }

    input[type="radio"]:checked + label span {
        color: white;
        background-color:rgba($blue, .875);
        border-color: $blue;
    }
}
