.grid img.hairline { border: 1px solid; }
.grid img.thin { border: 3px solid; }
.grid img.thick { border: 5px solid; }
.grid img.fat { border: 10px solid; }
.grid img.fill { border: 0; opacity: .5; }
